@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

<div class="breadcrumb-style-3" style="background:unset">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="~/Content/WebAssets/img/about-page/kids.jpg" alt="Chicago" style="width:100%">
                <div class="slide-overlay ">
                    <div class="slide-heading"><h2 class="ml-0 ml-md-5">About Us</h2></div>
                    <div class="slide-breadcrumb ml-5 text-white"> <a href="../../home/index">Home</a> | About Us </div>
                    <div class="slides-content mx-5 px-5 py-3 mt-4">
                        Cocycle is a social networking site which matches people who already cycle regularly with people who want to start cycling or further develop their confidence on two wheels.
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="~/Content/WebAssets/img/about-page/sm.jpg" style="width:100%">
                <div class="slide-overlay">
                    <div class="slide-heading"><h2 class="ml-0 ml-md-5">About Us</h2></div>
                    <div class="slide-breadcrumb ml-5 text-white"> <a href="../../home/index">Home</a> | About Us </div>
                    <div class="slides-content mx-5 px-5 py-3 mt-4">
                        Cocycle is a social networking site which matches people who already cycle regularly with people who want to start cycling or further develop their confidence on two wheels.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="experience-area text-center mt-5 padding-bottom-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-experience">
                        <div class="icon">
                            <i class="fa fa-black-tie"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">We are professional</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-experience">
                        <div class="icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">Client Love Us</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-experience">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">12 Years Experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-experience">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="content">
                            <h4 class="title">Great 24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="home-rolling mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                <div class="rolling-content" >
                    <h3>About Us</h3>
                    <p style="font-weight: 800;">Cocycle was set up in August 2020 under its original name Two Wheels Better, with the intention of creating a bike buddy system that people could use to commute together on two wheels. The idea was initially very well received with 70-80 people signing up (possibly motivated by free samosas at our launch event), and the first rides started happening shortly afterwards. We were able to show various people their routes to work by bike, and even took a plucky sixth former to college. It also became clear that a lot of people wanted to have a service that would help them with very basic cycling skills prior to any attempt to commute by bike. Many of our experienced members travelled far and wide across the city to meet this need, taking people for rides along towpaths or in their local parks to help them build the confidence they needed to get in the saddle for themselves.</p>
                    @*<div class="btn-wrapper desktop-left mt-5 mt-md-0 padding-bottom-10">
                            <a class="button-explore" href="#">Explore Routes</a>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-6 position-relative d-flex align-self-center" data-aos="fade-up" data-aos-anchor-placement="center-bottom" >
                <div class="home-rolling-slider home2-rolling-slider" style="background:unset">
                    <div class="single-item">
                        <img src="~/Content/WebAssets/img/home1/tour1.png" style="border-radius:50%" alt="">
                        <img src="~/Content/WebAssets/img/home1/tour2.png" style="border-radius: 50%;max-width: 35%;position: absolute;right: 10%;bottom: 5%;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-rolling mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rolling-content">

                    <p style="font-weight: 800;">
                        Unfortunately the 2nd and 3rd waves of the coronavirus pandemic put pay to our activities for many months as encouraging people to meet up for bike rides contravened social distancing guidelines. During this time we hunkered down and decided to create a website / web app to automate the process of connecting existing cyclists with people who want to find their wheels. We re-invented ourselves as cocycle and continued to arrange further commutes and social rides between people who signed up to our services once it became permissible again. With the website complete we are now offering a peer to peer service that people anywhere can use to offer or seek help cycling, and we hope you enjoy it!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="home-rolling">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <div class="rolling-content">
                    <div class="rolling-title" style="margin-bottom: 15px;">How it works</div>
                    <p style="font-size: 18px; line-height: 25px;">
                        Cocycle is a social networking site which matches people who already cycle regularly with people who want to start cycling or further develop their confidence on two wheels. To use our services, register for an account, either as someone who already cycles <a class="btn-outline-danger" href="@Url.Action("Register","Account")">  I Already travel by bike </a> or as someone who needs help cycling  <a class="btn-outline-danger" href="@Url.Action("Register","Account")">  Need help cycling </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-8 position-relative">
                <div class="home-rolling-slider">
                    <div class="single-item">
                        <img src="~/Content/WebAssets/img/about-page/blokes.jpg" alt="">
                    </div>
                </div>
                <span></span>
            </div>
        </div>
    </div>
</div>
@*<div class="event-slider-area">
        <div class="container-fluid">
            <div class="container">
                <br />
                <div class="row">
                    <div class="col-lg-12 ">
                        <h3><span>Once you register as an existing cyclist.</span></h3>
                    </div>
                </div>
                <br />
            </div>
            <div class="event-slider row">
                <div class="single-item">
                    <div class="item-left">
                        <div class="left">
                            <br />
                            <p class="text">
                                You will be able to list routes that you travel regularly (whether socially or as part of a commute). Less experienced riders will be able to request to join you on these routes. You will be able to arrange these either by sharing your number with people who make the requests or by messaging each other through the website. We will never share your postcode or email address via our route listings, and allowing people to contact you by phone is entirely optional.
                            </p>
                        </div>
                    </div>
                    <div class="item-right">
                        <img src="~/Content/WebAssets/img/event/event-slider1.png" alt="event">
                    </div>
                </div>
                <div class="single-item">
                    <div class="item-left">
                        <div class="left">

                            <p class="text">
                                You will also be able to view requests for help that are registered near your address. This may be people either asking for help with a specific route, or people who want to do some basic bike riding to build up their confidence. You can offer to help with these requests, either through on site messaging or via phone, if these details have been added to the request.
                            </p>

                        </div>
                    </div>
                    <div class="item-right">
                        <img src="~/Content/WebAssets/img/event/event-slider1.png" alt="event">
                    </div>
                </div>
                <div class="single-item">
                    <div class="item-left">
                        <div class="left">

                            <p class="text">Once a ride is complete the participants will all be sent feedback forms to help us build up information about different routes and allow users of the site to develop their profiles.</p>

                        </div>
                    </div>
                    <div class="item-right">
                        <img src="~/Content/WebAssets/img/event/event-slider1.png" alt="event">
                    </div>
                </div>

            </div>
        </div>
    </div>*@
<div class="about-video" style="background: unset;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 d-flex align-self-center">
                <div class="about-video-text">

                    <div class="card  my-3" style="border-radius: 10px;border:unset">
                        <div class="card-body">
                            <br />   <h4 style="color:#ef972c"> <i class="fa fa-map-marker"></i>  <b>Once you register as an existing cyclist</b></h4>
                            <br />
                            <div data-aos="fade-right"
                                 data-aos-offset="80"
                                 data-aos-easing="ease-in-sine"
                                  data-aos-anchor-placement="top-bottom">
                                <p style="font-family: var(--heading-font); line-height: 20px;"><i class="fa fa-bicycle" style="color:#ef972c"></i>	You will be able to list routes that you travel regularly (whether socially or as part of a commute). Less experienced riders will be able to request to join you on these routes. You will be able to arrange these either by sharing your number with people who make the requests or by messaging each other through the website. We will never share your postcode or email address via our route listings, and allowing people to contact you by phone is entirely optional.  </p>
                            </div>
                            <div data-aos="fade-right"
                                 data-aos-offset="80"
                                 data-aos-easing="ease-in-sine"
                                  data-aos-anchor-placement="top-bottom">
                                <p style="font-family: var(--heading-font); line-height: 20px;"><br /> <i class="fa fa-bicycle" style="color:#ef972c"></i>	You will also be able to view requests for help that are registered near your address. This may be people either asking for help with a specific route, or people who want to do some basic bike riding to build up their confidence. You can offer to help with these requests, either through on site messaging or via phone, if these details have been added to the request.</p>
                            </div>
                            <div data-aos="fade-right"
                                 data-aos-offset="80"
                                 data-aos-easing="ease-in-sine"
                                  data-aos-anchor-placement="top-bottom">
                                <p style="font-family: var(--heading-font); line-height: 20px;"> <br />  <i class="fa fa-bicycle" style="color:#ef972c"></i>	Once a ride is complete the participants will all be sent feedback forms to help us build up information about different routes and allow users of the site to develop their profiles.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card  my-3" style="border-radius: 10px;border:unset">
            <div class="card-body">
                <br /> <h4 style="color:#ef972c">  <i class="fa fa-map"></i> <b>Once you register as someone who is  new to cycling</b></h4>
                <br />
                <div data-aos="fade-left"
                                 data-aos-offset="100"
                                 data-aos-easing="ease-in-sine">
                    <p style="font-family: var(--heading-font); line-height: 20px;" ><i class="fa fa-bicycle" style="color:#ef972c"></i>	You will be able to request to join any routes that are listed under the view routes tab. These will be listed as commuter journeys or social cycling activities and you can search by proximity to your starting postcode. You will be able to contact the user who lists the route either via on site messaging (which will send emails to your inbox) or via telephone if they have elected to list their number in their advertised route.</p>
                </div>
                <div  data-aos="fade-left"
                                 data-aos-offset="100"
                                 data-aos-easing="ease-in-sine">
                    <p style="font-family: var(--heading-font); line-height: 20px;">  <br />  <i class="fa fa-bicycle" style="color:#ef972c"></i>	You will also be able to make specific requests for help from more experienced cyclist. This could either be assistance on a specific route or general confidence building. Experienced riders will then be able to offer help to you, either via on site messaging or via phone if you elect to share that information. We will never disclose your postcode or email address in the advert.</pstyle="font-family:>
                </div>
                <div  data-aos="fade-left"
                                 data-aos-offset="100"
                                 data-aos-easing="ease-in-sine">
                    <p style="font-family: var(--heading-font); line-height: 20px;">   <br /> <i class="fa fa-bicycle" style="color:#ef972c"></i>	Once you have completed a ride we will send you a feedback form to allow us to build up information about different routes and so that users can develop their profiles on the site.</p>
                </div>
                
               
            </div>
        </div>
                    @*<div class="card p-3 my-3" style="box-shadow:rgb(0 0 0 / 24%) 0px 3px 8px;background:#2c9297;border-radius: 10px;">
            <div class="card-body">
                <br /> <h4 class="text-white">  <i class="fa fa-map"></i> <b>Once you register as someone who is  new to cycling</b></h4>
                <br />
                <p style="font-size: 16px; line-height: 21px;" class="text-white">
                    <i class="fa fa-angle-double-right"></i>	You will be able to request to join any routes that are listed under the view routes tab. These will be listed as commuter journeys or social cycling activities and you can search by proximity to your starting postcode. You will be able to contact the user who lists the route either via on site messaging (which will send emails to your inbox) or via telephone if they have elected to list their number in their advertised route.
                    <br />  <br />  <i class="fa fa-angle-double-right"></i>	You will also be able to make specific requests for help from more experienced cyclist. This could either be assistance on a specific route or general confidence building. Experienced riders will then be able to offer help to you, either via on site messaging or via phone if you elect to share that information. We will never disclose your postcode or email address in the advert.
                    <br />  <br />  <i class="fa fa-angle-double-right"></i>	Once you have completed a ride we will send you a feedback form to allow us to build up information about different routes and so that users can develop their profiles on the site.
                </p>
            </div>
        </div>*@
                </div>
            </div>
            @*<div class="col-xl-6  col-lg-6 d-flex align-self-center">
                    <div class="about-video-text">

                    </div>
                </div>*@
        </div>
    </div>
</div>

<div class="home-rolling pt-4" style="background: #e7e9d7;margin:unset!important">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rolling-content">
                    <h4 class="p1" style="font-weight:600;">Why cycle?</h4>
                    <br />
                    <h6> <i class="fa fa-caret-right"></i> There are so many benefits to travelling by bike!</h6>
                    <br />
                    <div class="element-accordion-area">
                        <div class="accordion-style-2" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p class="mb-0">
                                        <a href="#" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <b>Incorporate a healthy cardio workout into your commute - </b>
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body" style=" color: #615858!important;">
                                        did you know 80,000 people die every year of health complications related to inactivity? Sitting on the sofa or in your car seat is much worse for your health than getting in the saddle! Travelling 5 miles by bike will take around half an hour for most people, and doing this 5 times a week will meet the amount of moderate intensity exercise suggested by the World Health Organisation to significantly reduce your chance of developing high blood pressure, heart disease, diabetes and various forms of cancer. Cycling is low impact and therefore also fantastic exercise for conditions affecting joints such as osteoarthritis as it helps strengthen muscles around the joints to relieve the load they bear.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="accordion-style-2" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <p class="mb-0">
                                        <a href="#" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <b>	Have a predictable, stress free commute - </b>
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body" style=" color: #615858!important;">
                                        Travelling by bike means your journey will always take the same amount of time and you never have to worry about traffic or parking. You will arrive at work feeling refreshed and ready to start your day, and you will get back home having unwound on your journey home. For journeys under 5 miles (60% of all journeys in the UK) this can easily be achieved in 30 minutes or less each way.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="accordion-style-2" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <p class="mb-0">
                                        <a href="#" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <b>Save money! Cars are expensive - </b>
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body" style=" color: #615858!important;">
                                        Even when they sit outside your house parked they cost you. A decent bike can be bought for £100 – 150 second hand and then maintained for next to nothing. You will likely save over a thousand pounds a year by cycling, and that’s even before you write off your gym membership!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="accordion-style-2" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <p class="mb-0">
                                        <a href="#" role="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <b>Make the world a better place - </b>
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body" style=" color: #615858!important;">
                                        Cars pollute, they require a road network that turns huge swathes of public space into noisy, nasty strips of tarmac, and driving is frequently the cause of death and serious injury to other road users. If we want cities that are nice places to live, if we want clean air for our children to breathe, and if we want to have any hope of meeting our targets to deal with the climate emergency we must end our reliance on cars and stop using them where they are not needed. For the vast majority of these journeys, the bike is the answer.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<p style="padding: 0px 30px 0px 30px;">
                            <i class="fa fa-angle-right"></i> &nbsp; <b>Incorporate a healthy cardio workout into your commute -</b> did you know 80,000 people die every year of health complications related to inactivity? Sitting on the sofa or in your car seat is much worse for your health than getting in the saddle! Travelling 5 miles by bike will take around half an hour for most people, and doing this 5 times a week will meet the amount of moderate intensity exercise suggested by the World Health Organisation to significantly reduce your chance of developing high blood pressure, heart disease, diabetes and various forms of cancer. Cycling is low impact and therefore also fantastic exercise for conditions affecting joints such as osteoarthritis as it helps strengthen muscles around the joints to relieve the load they bear.
                            <br /> <i class="fa fa-angle-right"></i>&nbsp; <b>	Have a predictable, stress free commute:</b> Travelling by bike means your journey will always take the same amount of time and you never have to worry about traffic or parking. You will arrive at work feeling refreshed and ready to start your day, and you will get back home having unwound on your journey home. For journeys under 5 miles (60% of all journeys in the UK) this can easily be achieved in 30 minutes or less each way.
                            <br />   <i class="fa fa-angle-right"></i>&nbsp;	<b>Save money! Cars are expensive.</b> Even when they sit outside your house parked they cost you. A decent bike can be bought for £100 – 150 second hand and then maintained for next to nothing. You will likely save over a thousand pounds a year by cycling, and that’s even before you write off your gym membership!
                            <br />   <i class="fa fa-angle-right"></i>&nbsp;	<b>Make the world a better place:</b> Cars pollute, they require a road network that turns huge swathes of public space into noisy, nasty strips of tarmac, and driving is frequently the cause of death and serious injury to other road users. If we want cities that are nice places to live, if we want clean air for our children to breathe, and if we want to have any hope of meeting our targets to deal with the climate emergency we must end our reliance on cars and stop using them where they are not needed. For the vast majority of these journeys, the bike is the answer.
                        </p>
                        <br />*@
                    <br />
                    <h6> <i class="fa fa-caret-right"></i> If you feel you’re not fit enough to travel by bike, try alternatives such as trikes and electric bikes (which make even the steepest hill feel effortless) – you may be pleasantly surprised at what’s possible.</h6>
                    <br />
                    <h6><i class="fa fa-caret-right"></i> Bikes are even good for journeys with kids or shopping in tow – try bike trailers / child seats /pannier bags and cargo bikes to see what is possible using the power of the pedal</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-rolling pt-4" style="background: #e7e9d7;margin:unset!important">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="rolling-content">

                    <h3 style="font-weight:600;">Our friends </h3>
                    <p>
                        <i class="fa fa-arrow-circle-right"></i>   Find your kit – shops e.g. Arif, Chris Coyle
                        <br />  <i class="fa fa-arrow-circle-right"></i>   Help with riding
                        <br />   <i class="fa fa-arrow-circle-right"></i>  Making our streets safer – cycling orgs
                    </p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="rolling-content">
                    @*<div class="rolling-title">Bundle &<br>Save</div>*@
                    <h3 style="font-weight:600;">Cocycle in the media </h3>
                    <p>
                        <i class="fa fa-arrow-circle-right"></i>   Active Travel Fair
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="container my-5 text-center">
        <h2>Some Fun Facts About Us</h2>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 px-2 mb-3 position-relative">
                <img src="~/Content/Images/masonry1.png" style="width:100%" />
                <div class="masonry-txt">
                    <h5> Some Fun Facts About Us</h5>
                    <div>
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="col-md-3 px-2 mb-3">
                <img src="~/Content/Images/masonry2.png" style="width:100%" />

            </div>
            <div class="col-md-3 px-2 mb-3">
                <img src="~/Content/Images/masonry3.png" style="width:100%" />

            </div>

            <div class="col-md-3 px-2">
                <img src="~/Content/Images/masonry4.png" style="width:100%" />

            </div>
            <div class="col-md-3 px-2">
                <img src="~/Content/Images/masonry5.png" style="width:100%" />

            </div>
            <div class="col-md-6 px-2 position-relative">
                <img src="~/Content/Images/masonry6.png" style="width:100%" />
                <div class="masonry-txt text-right pr-5">
                    <h5> Some Fun Facts About Us</h5>
                    <div>
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>


        </div>
    </div>*@
@section Scripts{
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
}

@section style{
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        .carousel-indicators .active {
            background-color: #ef972c !important;
        }

        .carousel-indicators {
            right: unset !important;
            bottom: 50px;
        }

        .slide-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .slide-heading h2 {
            color: white;
            text-shadow: 2px 2px 4px #000000;
            border-bottom: 5px solid orange;
        }

        .slide-heading {
            display: flex;
        }

        .slide-overlay .slides-content {
            /* background: #000000b0;*/
            background: #00000094;
            color: white;
            width: 50vw;
        }

        @@media(max-width:560px) {
            .slide-overlay .slides-content {
                display: none;
            }

            .carousel-indicators {
                bottom: 10px;
            }

            .slide-breadcrumb {
                display: none;
            }

            .breadcrumb-style-3 {
                min-height: unset !important;
            }
        }

        .masonry-txt {
            position: absolute;
            bottom: 15px;
            left: 25px;
            width: 100%;
        }

            .masonry-txt h5 {
                color: white;
                text-shadow: 0px 0px 2px #000000ba;
            }

            .masonry-txt div {
                color: black;
            }
    </style>
}