 <!-- breadcrumb area -->
<!--<div class="breadcrumb-area breadcrumb-style-custom" style="min-height: 674px;">
    <div class="breadcrumb-inner">-->
        @*<h1 class="page-title">Contact us</h1>
        <ul class="page-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Contact</a></li>
        </ul>*@
    <!--</div>
</div>-->
<!-- breadcrumb area end -->
<!-- contact area -->

    <div class="contact-area " @*style="background: url();background-size: cover;"*@>
        <div style="width:100%;height:inherit;position:absolute;top:0;left:0">
            <img src="/Content/WebAssets/img/breadcrumb/crowds.jpg" style="width:100%;height:100%" />
        </div>
        @*<div style="width:100%;height:inherit;position:absolute;top:0;left:0;backdrop-filter:blur(2px)">
              &nbsp;
            </div>*@
    <div style="backdrop-filter:brightness(0.7)">
        <div class="container">
            <div class="row ">
                <div class="col-lg-7 mt-3">
                    <div class="contact-left">
                        <span class="contact-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet semper augue.</span>
                        <span class="contact-text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet semper augue.</span>
                        <div class="info margin-top-10">
                            <h3 style="font-weight: 800; color: #ee9719;">Address</h3>
                            <span>Jhon Smith<br> P.O. Box 123 4567 Fusce Rd.Lorem Lorem   12345<br>(1234) 456-7891</span>
                        </div>
                        <div class="info margin-top-10">
                            <h3 style="font-weight: 800; color: #ee9719;">Online Service</h3>
                            <a href="#">www.cocyle.com</a><br>
                            <a href="#">info@cocyle.com</a><br>
                            <a href="#">fax.info@mail.com</a><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 margin-top-50  p-2 text-white" style="background-color: rgb(255 255 255 / 41%); backdrop-filter: blur(2px);">
                    <div class="contact-right " style="background: unset;padding: 0px 20px 0px 20px!important">
                        <div class="contact-title" style="padding-top:unset;margin-bottom:15px">
                            Send Us a Message
                        </div>
                        <div class="form-group">
                            <form class="contact-form form" action="#" name="registration">
                                <div class="form-field margin-top-10 margin-bottom-5">
                                    <label for="name">Full Name</label>
                                    <input name="firstname" id="name" type="text" placeholder="Your Name" class="input-form" />
                                </div>
                                <div class="form-field margin-top-10 margin-bottom-5">
                                    <label for="email">Email</label>
                                    <input name="email" id="email" type="email" placeholder="Email Id" class="input-form" data-required="text" data-required-email="email" />
                                </div>
                                <div class="form-field margin-top-10 margin-bottom-5">
                                    <label for="thought">Message</label>
                                    <textarea name="message" id="thought" cols="30" rows="2" placeholder="Your Message"></textarea>
                                </div>
                                <div class="btn-wrapper desktop-right mt-3">
                                    <button type="submit" class="btn btn-medium btn-red">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:33px"></div>
    </div>
    </div>
    
<style>
    .contact-text {
        text-shadow: 0px 9px 19px #000000;
    }
</style>
<!-- contact area end -->