@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- navbar end -->
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg"></div>
</div>
<!-- banner start -->
<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="gallery-title">Gallery</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-masonry-wrapper margin-top-45">
                    <ul class="portfolio-menu">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".winter">Winter</li>
                        <li data-filter=".summer">Summer</li>
                    </ul>
                    <div class="portfolio-masonry grid">
                        <div class="masonry-item winter grid-item width-25">
                            <img class="masonry-image" alt="masonry" src="~/Content/WebAssets/img/trails/masonry1.png">
                        </div>

                        <div class="masonry-item winter grid-item width-50">
                            <img class="masonry-image" alt="masonry" src="~/Content/WebAssets/img/trails/masonry2.png">
                        </div>

                        <div class="masonry-item grid-item summer width-25">
                            <img class="masonry-image" alt="masonry" src="~/Content/WebAssets/img/trails/masonry3.png">
                        </div>

                        <div class="masonry-item winter grid-item width-25">
                            <img class="masonry-image" alt="masonry" src="~/Content/WebAssets/img/trails/masonry4.png">
                        </div>

                        <div class="masonry-item winter grid-item width-25">
                            <img class="masonry-image" alt="masonry" src="~/Content/WebAssets/img/trails/masonry5.png">
                        </div>

                        <div class="masonry-item winter summer grid-item width-25 width-50">
                            <img class="masonry-image" alt="masonry" src="~/Content/WebAssets/img/trails/masonry6.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
