@{
    ViewBag.Title = "Home Page";
  
}


 


 
   
   
 
 
    <!-- //. search Popup -->
    <!-- home-about start -->
    <style>
        .banner-quote {
            font-size: 1.8rem;
            border-left: 3px solid orange;
        }

            .banner-quote span {
                color: orange;
            }

        .about-sec-img {
            width: 80%;
            float: right;
        }

        .about-sec-overlay {
            margin-top: 70px;
            position: absolute;
            top: 0;
            left: 0;
            width: 87%;
            height: 100%;
            display: flex;
            align-items: center;
        }

            .about-sec-overlay div {
                background-color: #0000009c;
                padding: 20px;
                color: white;
            }
        .home-about {
            margin-bottom: 50px !important;
        }

        @@media(max-width:550px) {
            .about-sec-img {
                display: none;
            }

            .about-sec-overlay {
                position: static;
                width: 100%;
            }

            .about-title, .about-title-1 {
                margin: unset !important;
            }

            .home-about {
                margin-bottom: 30px !important;
            }
        }
    </style>
    <div class="home-about" id="about-area" >
        <div class="floating-icon" id="service_info_item">
            <div class="floating-icon__is floating-icon-info">
                <i class="flaticon-phone"></i>
            </div>
            <!--floating-icon-is-->
            <div class="floating-icon__is floating-icon-location">
                <i class="flaticon-pin"></i>
            </div>
            <!--floating-icon-is-->
            <div class="floating-icon__is floating-icon-message">
                <i class="flaticon-mail"></i>
            </div>
            <!--floating-icon-is-->
        </div>
        <!--floating-icon-->
        <!--<div class="container" >
            <div class="row">
                <div class="about-title about-title-1" style=" border-bottom: 5px solid orange;">About Us</div>
            </div>
        </div>
        <div class="container" style="margin: 20px 0px 178px 0px;" >-->
        @*<div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                <div class="aboutus-section">
                    <img src="~/content/webassets/img/home1/about.png" alt="about" style="width:">
                    <div class="overlay-content">
                        lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla sit amet semper augue. maecenas gravida tortor sit amet enim venenatis tristique. nulla vehicula porta tortor non maximus. vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; aliquam eu viverra augue
                    </div>
                    <span></span>
                </div>
            </div>

                    </div>

                </div>*@
        <!--<div class="row" >
                <div class="col-lg-12 position-relative">
                    <img src="~/content/webassets/img/home1/KHPmoseleymaidens.jpg" alt="about m-2" class="about-sec-img">
                    <div class="about-sec-overlay">
                        <div class=" m-4 py-3" >
                          Cocycle was set up in August 2020 under its original name Two Wheels Better, with the intention of creating a bike buddy system that people could use to commute together on two wheels.
                            The idea was initially very well received with 70-80 people signing up (possibly motivated by free samosas at our launch event), and the first rides started happening shortly afterwards.
                            We were able to show various people their routes to work by bike, and even took a plucky sixth former to college. It also became clear that a lot of people wanted to have a service that would help them with very basic cycling skills prior to any attempt to commute by bike.
                            Many of our experienced members travelled far and wide across the city to meet this need, taking people for rides along towpaths or in their local parks to help them build the confidence they needed to get in the saddle for themselves.
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- <div class="ceramic animated slideRotateFromRight">Ceramic Speed</div> -->
    </div>
    <!-- home-about end -->
    <!-- banner area start -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-4">
                <img src="~/Content/banner-img/banner-first.jpg" style="width:65% !important" />
            </div>
            <div class="col-md-6 pt-md-5">
                <div class="w-100 pl-0  pt-2 pb-2 mt-md-4 pt-md-4">
                    <div class="banner-quote pl-0 pl-md-2">
                        A <span>Confident Cyclist </span>who wants to Help Others Travel By Bike
                    </div>
                    <div>
                        <span style="color:#2c9297;font-size:0.8rem">Lend a hand to someone</span>
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("cyclist"))
                            {
                                <a href="@Url.Action("Index","Arrangeds")" class="btn btn-element btn-red float-right" style="position:relative;bottom:25px;margin:23px"> I already travel by bike</a>
                            }
                            else
                            {
                                <a href="#" onclick='showmessage(1)' ; class="btn btn-element btn-red float-right" style="position:relative;bottom:25px;margin:23px"> I already travel by bike</a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Register","Account")" class="btn btn-element btn-red float-right" style="position:relative;bottom:25px;margin:23px"> I already travel by bike</a>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="w-100 pl-0  pt-2 pb-2 pt-md-5">
                    <div class="banner-quote pl-0 pl-md-2">
                        You're New to <span>Cycling  </span>who wants Some Assistance.
                    </div>
                    <div>
                        <span style="color:#2c9297;font-size:0.8rem">Asking for help?</span>

                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("learner"))
                            {
                                <a href="@Url.Action("Create","Arrangeds")" class="btn btn-element btn-red float-right" style="position:relative;bottom:25px;margin:23px"> I need help with cycling</a>
                            }
                            else
                            {
                                <a href="#" onclick='showmessage(2)' ; class="btn btn-element btn-red float-right" style="position:relative;bottom:25px;margin:23px"> I need help with cycling</a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Register","Account")" class="btn btn-element btn-red float-right" style="position:relative;bottom:25px;margin:23px"> I need help with cycling</a>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <img src="~/Content/banner-img/banner-second.jpg" class="ml-0 ml-md-5" style="width:65% ; position:relative;bottom:20px" />
            </div>

        </div>
    </div>

   
    <!-- home-blog end -->
    <!-- home-contact start -->
    
    <!-- home-contact end -->
    <!-- footer area start -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function showmessage(id) {
            $('.alert').alert()
            if (id == 1) {
                swal("Sorry, You are not an Experienced Cylist!", " Please contact admin", "info");
            }
            else {
                swal("Sorry, You are not an Learner!", "Please contact admin", "info");
            }
        }



    </script>
    <!--  jquery script  -->

 